---
layout: default
---

<div class="home">

  <h1 class="page-heading">Contents</h1>

  <ol class="category-list-list">
    {% for category in site.categories %}
      <li>
        <h2 class="page-heading">
          {{ category[0] | capitalize }}
        </h2>

        <ol class="post-list">
          {% for post in category[1] %}
            <li>
              <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
 -->
              <h3>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>

              <blockquote>
                {{ post.excerpt }}
              </blockquote>
            </li>
          {% endfor %}
        </ol>
      </li>
    {% endfor %}
  </ol>

</div>
